{% extends "base.html" %}
{% block head %}
<style>
  .commit {
    margin: 1rem 0;
    padding: 0;
  }
  .commit > div {
    border: 0.25rem solid black;
  }
  .commit-header {
    display: flex;
    flex-direction: row;
  }
  .commit-header > * {
    margin: 0.2rem;
  }
  .commit-title {
    width: 100%;
  }
  .commits {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  main > * {
    width: 100%;
  }
</style>
{% endblock head %}
{% block content %}
  <h1> <code>{{ entity_name }} / {{ repository_name }} </code>: </h1>
  <ul class="commits">
    {% for commit in commits %}
      <li>
        <div class="commit">
          <div class="commit-header">
            <code class = "commit-title" style="text-align: left;"> <strong> {{ commit.message_header }} </strong> </code>
            <code style="text-align: right;"> {{ commit.commit_id | truncate(length=8, end="") }} </code>
          </div>
          {% if commit.message_body | trim | length != 0 %}
          <div style="overflow: scroll; border-top: 0;">
            <code style="white-space-collapse: preserve; white-space: pre;"> {{ commit.message_body | trim }} </code>
          </div>
          {% endif %}
        </div>
      </li>
    {% endfor %}
  </ul>
  <a href="/r/{{ entity_name }}/{{ repository_name }}?increment={% if increment - 10 > 0 %}{{ increment - 10 }}{% else %}0{% endif %}&rev={{ commit_id | default(value=commits.0.commit_id) }}"> Prev </a>
  <a href="/r/{{ entity_name }}/{{ repository_name }}?increment={{ increment + 10}}&rev={{ commit_id | default(value=commits.0.commit_id) }}"> Next </a>
{% endblock content %}
